.hero {
    padding: 12rem 0.5rem;
    min-height: 100vh;
    text-align: center;
}

.heading {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 3rem;
}

.heading_span {
    color: var(--clr-red);
    font-family: "KeetanoKatana";
    font-weight: 500;
}

.slogan {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    color: var(--clr-gray);
}

@media screen and (max-width: 38rem) {
    .heading {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .slogan {
        font-size: 1rem;
    }
}

.btn {
    padding: 1.25rem;
    font-family: "NeoSansCyr";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 2rem;
    background-color: var(--clr-red);
}