.header {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.header_features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.search_wrapper {
    transform: translateY(-1px);
}