.menu {
    width: 50%;
    max-width: 50%;
    height: 100vh;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease;

    background-color: var(--clr-gray-dark);
}

.close_icon_wrapper {
    align-self: flex-end;
}

@media screen and (min-width: 45.0001rem) {
    .menu {
        display: none;
    }
}