@import url("./fonts.css");

html {
    font-family: "NeoSansCyr", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

:root {
    --clr-red: #ff3030;
    --clr-blue: #1777f2;
    --clr-gray: #d3d3d3;
    --clr-gray-dark: #111111;
    --clr-gradient-purple: linear-gradient(
        to right, 
        #8F00FF,
        #C333B5,
        #B12256
    );

    --offset-off-screen-right: translateX(100%);
    --no-offset: translate(0);
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a,
button {
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}